#Config Options for flex2 go here
blastPath=/opt/ncbi-blast-2.6.0+/bin/
#Choose between 'adaptative' (changes between rectangles and arrows), 'arrows' and 'rectangles'
displayType=adaptative
#Initial size for the chromosomes (8000 is a good value for bacterial genomes, 750 for phages)
fosmidSize=8000